
:root{
     --header-color:#1b72e8;
     --header-badge-color:#0f4386df;
     --sidebar-color:#051e34;
}

ul{
     margin: 0;
     padding: 0;
     list-style-type: none;
}

.my-wrapper{
     align-items: stretch;
     max-height: 300vh;
     width: 170px;
     background-color:var(--sidebar-color);
     background-image: url(../img/sidebar-bg.png);
}

header{
     height: 55px;
     align-items: baseline;

}

.research-bar{
     height: 38px;
}

.head{
     width: calc(100% - 170px);
     margin:0;
     height: 13vh;
     background-color: var(--header-color);
     min-height: 90px;
     position: fixed;
     z-index: 2000;
}

main{
     height: 92vh;
     width: calc(100% - 170px);
     overflow-x:hidden;
     overflow-y: scroll;
}

.margin-fix{
     margin-top:14vh;
}
/* ======HEADER====== */
header> nav{
     height: 5vh;
}
/* ======HEADER====== */

/* =======NAV BLUE======= */
.canvas-button{
     width: 40px;
     height: 40px;
     border-radius: 10px;
     color: white;
     border:1px solid white;
     background-color: #1b72e8;
}

#offcanvasExample{
     width: 50%;

}

.my-email-imput{
     width: 25vw;
     height: 30px;
}

.my-input-txt{
     width: 100%;
}

#my-badge{
     background-color: #0f4676b7;
}

/* //=======NAV BLUE======= */

/* ======TABELLA MAIN SX====== */
main> div> section> div> table{
     width: 99%;
     overflow-y: hidden;
}

main> div> section> div> table> thead> tr :not(:first-child){
     width: 8rem;
     text-align: center;
}
main> div> section> div> table> tbody> tr :not(:first-child){
     text-align: center;
}

main> div> section> div>  table> thead> tr:first-child{
     width: auto;
}

.avatar-table{
     width: 30px;
}
/* //======TABELLA MAIN SX====== */

/* ========SECTIO DX========= */

/* //========SECTIO DX========= */